attach
#!/usr/bin/env python3

# Mark Pasquantonio
# Senior Design and Dev COMP490
# Project 1 JobsAssignment Sprint 3
# Filename: requirements.txt

unidecode
geolocator
px
matplotlib
PySide2
PyQt5
items
django-os-geocoder
folium
googlemaps
maps
pandas
plotly
geopy
xmltodict
connection
lxml
pip
urllib3
cursor
requests
pytest
feedparser

